:root{
    --color-light-grey:#f9f9f9;
    --color-light-grey-1:#f2f2f2;
    --color-light-grey-2:#e4e4e4;
    --color-dark-grey:#606060;
    --text-grey:#606060;
}  
.ui-tooltip, .arrow:after {
    background: var(--color-light-grey-2);
    border: 1px solid #707070;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: var(--text-grey);
    border-radius: 20px;
    font: bold 14px "Verdana", Sans-Serif;
    text-transform: uppercase;
/*    box-shadow: 0 0 7px  var(--color-dark-grey);*/
    border: 5px solid #707070;
    
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px var(--color-dark-grey);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
      
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }